<ion-view title="My TV series">
    <ion-content ng-controller="myTVSeriesCtrl" overflow-scroll="true" padding="true" scroll="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="search for tv series">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for tv series">
            </label>
        </form>


      <ul class="list">
        <a ng-repeat="show in series" href="#/subscribed/{{show.showId}}" class="item item-thumbnail-left" nav-clear menu-close >
          <img src="https://image.tmdb.org/t/p/w92{{show.posterPath}}">
          <h2>{{show.title}}</h2>
          <p>{{show.overview}}</p>
        </a>
      </ul>
    </ion-content>
</ion-view>
