<ion-view title="TV series">
    <ion-content ng-controller="tVSeriesCtrl" overflow-scroll="true" padding="true" scroll="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="search for tv series">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-keypress="searchForMovies()" ng-model="searchData.name" type="search" placeholder="Search for tv series">
            </label>
        </form>
      <button ng-click="logOut()" class="button button-negative button-block ">Log out</button>


        <ul class="list">
          <a ng-repeat="show in tvShows" href="#/single/{{show.id}}" class="item item-thumbnail-left" nav-clear menu-close >
            <img src="https://image.tmdb.org/t/p/w92{{show.poster_path}}">
            <h2>{{show.name}}</h2>
            <p>{{show.overview}}</p>
          </a>
        </ul>

    </ion-content>
</ion-view>
